<div *ngIf="!country; else divCountry"
  class="alert alert-info">
  Please wait...
</div>

<ng-template #divCountry>
  <div class="row">
    <div class="col-12">
      <h1>Country: <small>{{ country[0].name.common }}</small></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h3>Flag</h3>
      <img [src]="country[0].flags.png" class="img-thumbnail"/>
    </div>

    <div class="col">
      <h3>Info</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Population</strong> {{ country[0].population | number}}
        </li>
        <li class="list-group-item">
          <strong>Numeric code</strong> {{ country[0].ccn3 }}
        </li>
        <li class="list-group-item">
          <strong>Alpha 3 code</strong> {{ country[0].cca3 }}
        </li>
      </ul>
    </div>
  </div>

  <h3>Translations</h3>
  <div class="row">
    <div class="col">
      <span class="badge bg-primary mr-1">{{ country[0].translations['fra'].official }}</span>
      <span class="badge bg-primary mr-1">{{ country[0].translations['deu'].official }}</span>
      <span class="badge bg-primary mr-1">{{ country[0].translations['ita'].official }}</span>
      <span class="badge bg-primary mr-1">{{ country[0].translations['jpn'].official }}</span>
      <span class="badge bg-primary mr-1">{{ country[0].translations['pol'].official }}</span>
      <span class="badge bg-primary mr-1">{{ country[0].translations['rus'].official }}</span>
      <span class="badge bg-primary mr-1">{{ country[0].translations['por'].official }}</span>
    </div>
  </div>
</ng-template>