<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Capital</h2>
  <hr>
  <div class="row">
    <div class="col">
      <app-country-input (onEnter)="search($event)" placeholder="Search capital...">
      </app-country-input>
    </div>
  </div>
  <hr>
</div>
<div *ngIf="errorExist" class="alert alert-danger">No coincidences for "{{ element }}"</div>
<div *ngIf="countries.length > 0" class="row">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>